---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About Me";

const identity = {
  firstName: "Rodrigo",
  country: "Portugal",
  occupation: "Intern",
  hobbies: ["reading", "video games", "writing"],
};

const skills = ["HTML", "CSS", "C", "C#", "Astro"];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pagetitle = {pageTitle}>
<h2 class="text-2xl font-semibold mb-4">Astro Tutorial</h2>
  <p class="mb-4">Here are a few facts about me:</p>
  
  <ul class="mb-6 list-disc pl-6 space-y-2">
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country} and I work as an {identity.occupation}.</li>
    {identity.hobbies.length >= 2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}</li>
    }
  </ul>
  
  <p class="mb-3">My skills are:</p>
  <ul class="mb-6">
    {skills.map((skill) => (
     <li class="text-[crimson] font-bold uppercase">{skill}</li>
    ))}
  </ul>
  
  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
  {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}
</BaseLayout>